html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* COLORS */
  --color-white: #ffffff;
  --color-text: #757575;
  --color-text-title: #212121;
  --color-accent-blue: #2196f3;
  --color-dark-bg: #2f303a;
  --color-black: #000000;
  --color-light-bg: #f5f4fa;
  --color-light-text: #eeeeee;
  --color-lighter-bg: #ececec;
  --color-bright-blue: #188be7;
  --color-icon: #afb1b8;
  /* FONTS */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* OTHERS */
  --border-radius: 4px;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* GLOBAL */
body {
  color: var(--color-text);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  /* margin: 0;
  padding: 0; */
}
h2,
h3,
h4 {
  color: var(--color-text-title);
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 94px 15px;
}

/* ------------HEDER----------------*/
/* .header {
  padding: 24px 0;
} */
.nav-link,
.contact-link,
.social-link,
.button,
.customers-link,
.portfolio-button,
.customers-icon {
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}

.header .container,
.header .nav-list,
.header .contact-list,
.header .nav {
  display: flex;
  align-items: center;
  padding: 0;
}
.header .nav {
  flex-grow: 1;
}
.header .contact-list {
  margin-left: auto;
  gap: 50px;
}
.nav .nav-list {
  gap: 50px;
}
.header .contact-link,
.header .nav-link {
  display: inline-block;
  padding: 32px 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* letter-spacing: 0.03em; */
  color: var(--color-black);
  margin-right: 93px;
}
.logo-blue {
  color: var(--color-accent-blue);
}
.nav {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
/* .nav-list {
}
.nav-item {
} */
.nav-link {
  color: var(--color-text-title);
}
.nav-link.active {
  color: var(--color-accent-blue);
}
.nav-item {
  position: relative;
}
.nav-link.active::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-accent-blue);
  bottom: 0;
}
.icon-mail {
  display: inline-block;
  margin-right: 10px;
  color: currentColor;
  vertical-align: middle;
  align-items: center;
}

.contact-item:hover .contact-link,
.contact-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--color-accent-blue);
}
/* ----------------MAIN----------------- */
/* PAGE STUDIO */
/* ------------Section HERO ------------*/

.hero {
  background-color: #c4c4c4;
  text-align: center;
  color: var(--color-white);
  padding: 200px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bcg-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}
.hero-container {
  padding: 0 15px;
}
.hero > h1 {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* margin-bottom: 40px; */
}
.button {
  background-color: var(--color-accent-blue);
  color: var(--color-white);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 32px;
  margin-top: 30px;
  cursor: pointer;
  min-width: 216px;
  min-height: 50px;
}
.button:hover {
  background-color: var(--color-bright-blue);
}

/* ---------------Section Advantages---------------- */
/* ------------Visually Hidden ------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.advantages {
  padding-bottom: 0;
}
.advantages-list h3 {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}
.advantages-list p {
  line-height: 1.71;

  /* letter-spacing: 0.03em; */
}

.advantages-list {
  display: flex;
  gap: 30px;
}
.advantages-item {
  min-width: 270px;
}
.advantages-item h3 {
  margin-top: 30px;
}
/* ---------------Section Activity---------------- */
.section.activity h2,
.portfolio h2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.activity-list {
  padding-top: 50px;
  display: flex;
  gap: 30px;
}
.advantages-container {
  padding-bottom: 0;
}
.activity-item {
  display: flex;
  position: relative;
}
.activity-title {
  display: block;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  color: var(--color-white);
  text-transform: uppercase;
  bottom: 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  padding: 27px 0;
  /* margin-top: 20px;
  font-size: 20px;
  line-height: 1.4;
  text-align: center; */
}
/* ---------------Section Portfolio---------------- */
.team-section {
  background-color: var(--color-light-bg);
}
.team-section h2 {
  text-align: center;
}
.team-list {
  padding-top: 50px;
  display: flex;
  gap: 30px;
}
.team-list h3 {
  margin-bottom: 10px;
}
.team-list p {
  margin-bottom: 16px;
}
.team-list h3,
.team-list p {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
}

.team-list img {
  margin-bottom: 30px;
}

.team-item {
  min-width: 270px;
  background-color: var(--color-white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.social-icon {
  color: var(--color-icon);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--color-accent-blue);
  outline: transparent;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  color: var(--color-white);
}

/* Regular customers  */
.customers-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.customers h2 {
  font-size: 36px;
  text-align: center;
  line-height: 1.27;
}
.customers-icon:hover,
.customers-link:focus {
  color: var(--color-accent-blue);
  outline: transparent;
}
/* ----------------MAIN----------------- */
/* PAGE PORTFOLIO */
.portfolio-btn-list {
  margin-bottom: 50px;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.portfolio-button {
  background-color: var(--color-light-bg);
  color: var(--color-text-title);
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  /* font-family: var(--main-font); */
  letter-spacing: 0.03em;
  padding: 6px 22px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--color-accent-blue);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  outline: transparent;
}
.card-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  /* position: relative; */
}
.overimg {
  position: relative;
  overflow: hidden;
}
.interactiv {
  position: absolute;
  padding: 62px 24px;
  width: 370px;
  background-color: rgba(49, 150, 243, 0.9);
  color: var(--color-white);
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms var(--cubic);
}
.card-info {
  position: relative;
  padding: 20px 24px;
  border-bottom: 1px solid var(--color-light-text);
  border-left: 1px solid var(--color-light-text);
  border-right: 1px solid var(--color-light-text);
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.card-text {
  font-size: 16px;
  line-height: 1.88;
}
.card-item:hover,
.card-item:focus-within {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card-item:hover .interactiv,
.card-item:focus-within .interactiv {
  transform: translateY(-100%);
  opacity: 1;
}
.card-item a:focus {
  outline: transparent;
}

/* -----------FOOTER------------------- */
.footer {
  background-color: var(--color-dark-bg);
  line-height: 1.17;
}
.footer .container {
  display: flex;
  padding: 60px 15px;
  align-items: baseline;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .social-icon {
  color: rgba(255, 255, 255, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--color-accent-blue);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  color: var(--color-white);
}
.footer-title {
  font-weight: 700;
  line-height: 1.14;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer a {
  color: rgba(255, 255, 255, 0.6);
}
.footer .logo,
.footer .adress {
  color: var(--color-white);
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 20px;
}
.footer-social {
  margin-left: 70px;
  /* margin-top: 12px; */
}
.footer-form {
  margin-left: 93px;
}
.footer-label {
  display: block;
  margin-bottom: 20px;
}
.footer-input-box {
  display: flex;
  gap: 12px;
}
.footer-input {
  width: 358px;
  height: 50px;
  border: none;
  outline: rgba(255, 255, 255, 0.3) 1px solid;
  background-color: transparent;
  border-radius: var(--border-radius);
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.25;
}
.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-input:focus {
  outline: var(--color-accent-blue) 2px solid;
}
.footer-button {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--color-accent-blue);
  color: var(--color-white);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 28px;
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  margin-left: auto;
}
.body-studio {
  margin: 10px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9fd;
  flex-direction: column;
}

.body-studio svg {
  display: inline-block;
  margin-bottom: 20px;
}

/**
|====================
| Modal-window
|====================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: visibility 0s ease-in-out 0s, opacity 400ms ease,
    pointer-events 0s ease-in-out 0s;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px 2px 1px 0px;
  transition: scale 500ms ease-in-out 100ms, translate 500ms ease-in-out,
    opacity 400ms ease;
}
.modal-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  position: absolute;
  top: 8px;
  right: 8px;
  overflow: hidden;
}
.modal-icon {
  transition: scale 0.5s ease-in-out;
  color: var(--color-black);
}
.modal-icon:hover {
  overflow: hidden;
  scale: 1.4;
  cursor: pointer;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  scale: 0.1;
  translate: -50% -70%;
}
.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  /* gap: 28px; */
}

.form-title {
  font-size: 20px;
  line-height: 0.95;
  font-weight: 700;
  margin-bottom: 2px;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
}
.form-input {
  height: 40px;
}
.form-textarea,
.form-input {
  width: 100%;
  border: rgba(33, 33, 33, 0.2) 1px solid;
  border-radius: var(--border-radius);
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 30px;
}
.form-field {
  display: inline-block;
  position: relative;
}
.form-field:not(:last-child) {
  margin-top: 28px;
}
.form-lable {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  transition: transform 250ms var(--cubic), left 250ms var(--cubic),
    color 250ms var(--cubic);
}
.form-lable-textarea {
  position: absolute;
  top: 13px;
  left: 30px;
  transition: transform 250ms var(--cubic), left 250ms var(--cubic),
    color 250ms var(--cubic);
}

.form-input:focus + .form-lable,
.form-input:not(:placeholder-shown) + .form-lable {
  color: var(--color-accent-blue);
  left: 0;
  transform: translateY(-40px);
}
.form-textarea:focus + .form-lable-textarea,
.form-textarea:not(:placeholder-shown) + .form-lable-textarea {
  color: var(--color-accent-blue);
  left: 0;
  transform: translateY(-36px);
}
.form-input:focus,
.form-textarea:focus {
  outline: var(--color-accent-blue) 2px solid;
}
.form-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-icon);
}
.form-input:focus ~ .form-icon {
  color: var(--color-accent-blue);
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: rgba(33, 33, 33, 1) 2px solid;
  border-radius: 2px;
}
.checkbox-label {
  display: flex;
  /* outline: black 1px solid; */
  gap: 5px;
  align-items: center;
  padding: 5px 12px;
  margin-top: 20px;
}
.checkbox:checked + .checkbox-icon {
  background-color: var(--color-accent-blue);
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  border: var(--color-accent-blue) 2px solid;
}
.modal-link {
  color: var(--color-accent-blue);
  text-decoration: underline;
}
.modal-button {
  align-self: center;
  padding: auto;
  min-width: 200px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
